*, *::before, *::after {
    
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  html {
    font-size: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    color: white;
    margin: 0 auto;
    font-family: 'Changa', sans-serif;
    font-family: 'Open Sans', sans-serif;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100% ;
}

.init-hidden {
    opacity: 0;
    transition:  opacity 3s ease-in-out;
    transition-delay: .2s;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out; */
}

.init-hidden-off {
    opacity: 1;
}

  #menu {
    position: fixed;
    right: 0;
    width: 100%;
    height: 3rem;
    z-index: 999;
    background-color: #2b2b2b;
    margin-top: .5em;
      
  }

  #menu:after {
    background-color:  rgba(102, 51, 153, 0.61);
  }

.logo-menu {
    flex-direction: column;
    line-height: 30px;
    margin-left: 5rem;
    font-size: 12px;
    
}

.menu-horizontal{
    margin-right: 5rem;    
}

.menu-horizontal li {
    display: inline-block;
    margin: 20px;
    color: #fff;
    
}

#orcamento-btn {
    border: 2px solid #663399;
    padding: 5px;
    border-radius: 10px;
}

#orcamento-btn:hover{
    background-color: #663399;
    color: white;
}


  
  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    
  }

  .home > div > h1 {
    font-weight: bolder;
    font-size: 64px;    
  }

  .home > div > h1> span {
    color: rebeccapurple;
  }

  .home > div > h2 {
    font-weight: lighter;
    font-size: 32px;
  }

  a {
    color: white;
    text-decoration: none;
}
.logo-menu a:hover {
    color: rebeccapurple;
    transition: 0.3s all;
}

.menu-horizontal li:hover {
    color: rebeccapurple !important;
    transition: 0.3s all;
}

.icon-redes-sociais {
    display: inline-flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 50px;
    list-style: none;
    
}

.icon-redes-sociais li {
    padding: 10px;
}

.icon-redes-sociais li:hover {
    transform: scale(1.1);
}

.tex-icon-redes-sociais{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 14px;
    
}

#sobre {
    height: 100vh;
    width: 100%;
    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
}

.foto-minha {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 1em;
    padding-top: 10em;
    z-index: 10;
    
}

.foto-minha h2 { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .5em;
    font-size: 32px;
    font-weight: 100;
}

.barra-black {
    width: 10em;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 0;
    margin-top: 220px;

}

.sobre-mim {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-content: center;
    
}

.sobre-mim > div {
    margin-bottom: 2em;
    width: 80%;
}

.sobre-mim div h2 {
    color: #000;
    font-size: 40px;
}
.barra-verde {
    height: 4px;
    width: 180px;
    background-color: #1e8e25;
}

.barra-amarela {
    height: 4px;
    width: 180px;
    background-color: #ffb700;
}

.barra-vermelha {
    height: 4px;
    width: 180px;
    background-color: #fa0303;
}

.barra-azul {
    height: 4px;
    width: 180px;
    background-color: #030bfa;
}

.barra-rosa {
    height: 4px;
    width: 180px;
    background-color: #ff04e2;
}



.sobre-mim div p {
    font-size: 16px;
}

.txt-sobre {
    width: 80%;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
}

.jogos-comp {
    display: flex;
    align-items: center;
    
}
.jogos-comp div {
    margin:  2em  2em 0 0;
}
.jogos-comp div h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
}

.jogos-comp img:hover {
    transform: scale(1.1);
}

.times {
    display: flex;
    align-items: center;
    
}

.times div {
    margin:  2em 2em 0 0;
    text-align: center;
}
.times div h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
}
.times div p{
    margin-top: .5em;
    text-align: center;
    font-weight: 100;
}

.times div p {
    font-size: 16px;
    text-transform: uppercase;
}


.times img:hover {
    transform: scale(1.1);
    translate:calc(1s);
}

  
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  .space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .cards {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
  }

  .name-portfolio {
    width: 10em;
    
  }
  .name-portfolio h2{
    font-size: 60px;
    text-transform: capitalize;
    padding-top: 1em;
    transform: rotate(270deg);
    color: #ffffff29;
    
  }

  .barra-black h2{
    font-size: 60px;
    text-transform: capitalize;
    padding-top: 2.2em;
    transform: rotate(270deg);
    color: #ffffff29;
    margin-top: 4em;
    width: 100%;
    height: 30%;
    
  }
  
  .portfolio-part1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #323232;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ano2017 {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .ano2017 div img {    
    padding-right: 4em;
  }

  .ano2017 div h2 {
    font-size: 40px;
    color: #1E1E1E;
    margin-bottom: 8px;
    font-weight: 900;
  }

  .ano2017 div h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 8px;
  }

  .ano2017 div p {
    font-size: 16px;
    margin-top: 1em;
    font-weight: 100;
  }



  .linha-tempo {
    width: 100%;
    height: 10%;
  }

  .linha {
    height: .5em;
    background-color: #fff;
    margin-left: 25em;
  }

  .primeiro-ano {
    width: 150px;
    height: 50px;
    background-color: #030bfa;
    display: flex;
    font-size: 24px;
    font-weight: 900;
    margin-left: 16.66em;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .barra-ano2018 {
    width: 150px;
    height: 50px;
    background-color: #ffb700;
    display: flex;
    font-size: 24px;
    font-weight: 900;
    margin-left: 68.8vw;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .barra-ano2020 {
    width: 150px;
    height: 50px;
    background-color: #ff04e2;
    display: flex;
    font-size: 24px;
    font-weight: 900;
    margin-left: 41vh;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .barra-ano2020-2021 {
    width: 150px;
    height: 50px;
    background-color: #fa0303;
    display: flex;
    font-size: 24px;
    font-weight: 900;
    margin-left: 84vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }

  .barra-ano2022 {
    width: 150px;
    height: 50px;
    background-color: #1e8e25;
    display: flex;
    font-size: 24px;
    font-weight: 900;
    margin-left: 73%;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .barra-ano2022-1 {
    width: 150px;
    height: 50px;
    background-color: #1C1C1C;
    display: flex;
    font-size: 24px;
    font-weight: 900;
    margin-left: 80%;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
  }

  .ano2018 {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    
  }

  .ano2018 div img {    
    padding-right: 4em;
  }

  .ano2018 div h2 {
    font-size: 40px;
    color: #1E1E1E;
    margin-bottom: 8px;
    font-weight: 900;
  }

  .ano2018 div h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 8px;
  }

  .ano2018 div p {
    font-size: 16px;
    margin-top: 1em;
    font-weight: 100;
  }

  .portfolio-part2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #323232;
  }

  .linha2 {
    height: .5em;
    background-color: #fff;
    
  }

  .logo-ti {
    font-size: 15em  !important;
    color: #ffffff0e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em !important;
    margin-right: .2em  !important;
    font-weight: 900 !important;
  }

  .ano2020-2021 {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17em;
  }
  

  .ano2020-2021 div h2 {
    font-size: 40px;
    color: #1E1E1E;
    margin-bottom: 8px;
    font-weight: 900;
  }

  .ano2020-2021 div h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 8px;
  }

  .ano2020-2021 div p {
    font-size: 16px;
    margin-top: 1em;
    font-weight: 100;
  }

  .ano2020 {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20em;
  }
  

  .ano2020 div h2 {
    font-size: 40px;
    color: #1E1E1E;
    margin-bottom: 8px;
    font-weight: 900;
  }

  .ano2020 div h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 8px;
  }

  .ano2020 div p {
    font-size: 16px;
    margin-top: 1em;
    font-weight: 100;
  }
  




  .portfolio-part3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #323232;
  }

  .linha2 {
    height: .5em;
    background-color: #fff;
    
  }

  .ano2022 {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  

  .ano2022 div h2 {
    font-size: 40px;
    color: #1E1E1E;
    margin-bottom: 8px;
    font-weight: 900;
  }

  .ano2022 div h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 8px;
  }

  .ano2022 div p {
    font-size: 16px;
    margin-top: 1em;
    font-weight: 100;
  }

  .logos-programacao img {
    width: 80px;
    height: auto;
    
    
    
  }

  .logos-programacao img:hover {
    transform: scale(1.1);
    opacity: 100%;
    transform: rotate(350deg);
    
  }
  
  

  
.font-front-end {
    font-size: 180px;
    color: #ffffff20;
}

.front-end-escrita {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    height: 45%;
    padding-top: 8em;
}


#skills {
    width: 100%;
    height: 100vh;
}




#contato {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contatos {
    width: 50%;
    padding-left: 10em;
}
.contatos div a{
    display: flex;
    margin: 2em;
    align-items: center;
}


.contatos div h3 {
    font-size: 32px;
    padding-bottom: 1em ;
}

.contatos div p {
    font-size: 24px;
    margin-left: .5em;
}

.contatos div img {
    width: 50px;
    height: auto;
}


.contatos-img {
    width: 50%;
}

.contatos-img img {
    transform: scale(0.8);
}



























  #rodape {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #323232;
    padding-bottom: 1em;
    font-weight: 100;
    
}










