/*	1. CSS Reset
================================================================================ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*	2. Global
================================================================================ */
body {
	padding: 50px;
	background-color: #222;
	font: 14px Arial;
	color: #ccc;
}

ul {
	list-style-type: none;
}


/*	3. Skills
================================================================================ */
#skills {
	margin: 0 auto;
	width: 80%;
	max-width: 960px;

	li {
		position: relative;
		margin-bottom: 32px;
		padding-left: 6px;

		.bar-container,
		.bar {	
			position: absolute;
			left: 0;
			height: 5px;	
			border-radius: 5px;
			content: "";
		}

		.bar-container {
			bottom: -8px;
			width: 100%;
			background-color: #333;
			text-align: right;

			.bar {
				top: 0;
			}

			.pct {
				position: absolute;
				top: -19px;
				right: 0;
				opacity: 0;
				transition: opacity 0.3s linear;
			}
		}
	}		
}