@media screen and (max-width: 480px) {
  body {
    max-width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home {
    width: 100%;
    height: 70vh;
  }
  .home div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .home div h2 {
    font-size: 16px;
  }
  .home div h1 {
    font-size: 24px;
  }
  .home div div ul img {
    width: 70px;
    height: auto;
  }
  #sobre {
    width: 100%;
  }
  #sobre .sobre-mim {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #sobre span {
    display: none;
  }
  #sobre div h2 {
    font-size: 32px;
  }
  .jogos-comp {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2em;
  }
  .jogos-comp .jogos-comp-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0px;
  }
  .jogos-comp .csgo {
    width: 50%;
    margin: 0px;
  }
  .jogos-comp .fifa {
    width: 50%;
    margin: 0px;
  }
  .times {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    justify-items: center;
    justify-items: center;
  }
  .times div {
    margin: 0;
  }
  .times .times-title {
    width: 100%;
    margin: 0;
    margin: 2em 0 1em 0;
  }
  .times .palmeiras {
    width: 33%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .times .londrina {
    width: 33%;
  }
  .times .brasil {
    width: 33%;
  }
  #portfolio {
    width: 100%;
    display: none;
  }
  #portfolio .portfolio-part1 {
    display: flex;
  }
  .titulo-skills h2 {
    font-size: 32px;
  }
  #skills {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  #skills .lang-prog-part1 {
    width: 100%;
  }
  #skills .lang-prog-part1 .nome {
    font-size: 16px;
  }
  #skills .lang-prog-part1 .percentagem-num {
    font-size: 16px;
  }
  #skills .lang-prog-part1 .progressBar {
    height: 8px;
    margin: 10px 5px 2px;
  }
  #skills .lang-prog-part1 .percentagem {
    height: 8px;
  }
  #skills .lang-prog-part1 .candidatos img {
    width: 55px;
    height: 55px;
  }
  #skills .lang-prog-part2 {
    width: 100%;
    margin-left: 0;
  }
  #skills .lang-prog-part2 .nome {
    font-size: 16px;
  }
  #skills .lang-prog-part2 .percentagem-num {
    font-size: 16px;
  }
  #skills .lang-prog-part2 .progressBar {
    height: 8px;
    margin: 10px 5px 2px;
  }
  #skills .lang-prog-part2 .percentagem {
    height: 8px;
  }
  #skills .lang-prog-part2 .candidatos img {
    width: 55px;
    height: 55px;
  }
  #skills .lang-prog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
  #skills .titulo-lang-prog h2 {
    text-align: center;
    font-size: 22px;
  }
  #contato {
    flex-wrap: wrap;
    height: 60vh;
  }
  #contato .contatos {
    width: 100%;
    padding-left: 0;
  }
  #contato .contatos-img {
    width: 100%;
    display: none;
  }
  #contato div img {
    width: 40px;
  }
  #contato div p {
    font-size: 20px;
  }
  #contato div h3 {
    font-size: 24px;
    padding-bottom: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=Celular.css.map */
