@media screen and (max-width: 480px)

    body
        max-width: 95vw
        display: flex
        justify-content: center
        flex-wrap: wrap

    

    .home
        width: 100%
        height: 70vh
    
        div 
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-content: center
            align-items: center
            
        div h2
            font-size: 16px

        div h1
                font-size: 24px

        div div ul img
            width: 70px
            height: auto

    #sobre
        width: 100%

        .foto-minha
            

        .sobre-mim
            width: 100%
            display: flex
            justify-content: center
        
        span
            display: none

        div
            h2
                font-size: 32px

    .jogos-comp
        display: flex
        justify-content: center
        width: 100%
        flex-wrap: wrap
        margin-top: 2em
       
        

        .jogos-comp-title
            width: 100%
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            margin: 0px
            

        .csgo
            width: 50%
            margin: 0px
            
        .fifa
            width: 50%
            margin: 0px


    .times
        display: flex
        justify-content: center
        width: 100%
        flex-wrap: wrap
        justify-items: center
        justify-items: center

        div
            margin: 0

        .times-title
            width: 100%
            margin: 0
            margin: 2em 0 1em 0
            
            
        
        .palmeiras
            width: 33%
            display: flex
            justify-content: center
            align-content: center
            flex-wrap: wrap
        
        .londrina
            width: 33%

        .brasil
            width: 33%


    #portfolio
        width: 100%
        display: none

        .portfolio-part1
            display: flex
    
    .titulo-skills
        h2
            font-size: 32px


    #skills
        display: flex
        justify-content: center
        align-content: center
        flex-wrap: wrap

        .lang-prog-part1 
            width: 100%

            .nome
                font-size: 16px
            .percentagem-num
                font-size: 16px
            .progressBar
                height: 8px
                margin: 10px 5px 2px
            .percentagem
                height: 8px
            .candidatos img
                width: 55px
                height: 55px

        .lang-prog-part2 
            width: 100%
            margin-left: 0

            .nome
                font-size: 16px
            .percentagem-num
                font-size: 16px
            .progressBar
                height: 8px
                margin: 10px 5px 2px
            .percentagem
                height: 8px
            .candidatos img
                width: 55px
                height: 55px

                

        .lang-prog
            display: flex
            justify-content: center
            flex-wrap: wrap
            padding: 0
        
        .titulo-lang-prog
            h2
                text-align: center
                font-size: 22px


    #contato
        flex-wrap: wrap
        height: 60vh

        .contatos
            width: 100%
            padding-left: 0

        .contatos-img
            width: 100%
            display: none

        div img
            width: 40px
        div p 
            font-size: 20px
        div h3
            font-size: 24px
            padding-bottom: 0
            text-align: center

        
     
                


